@model IEnumerable<ProjetoSonic.MVC.ViewModels.ClubeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeClube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fundacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BairroId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Historia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeClube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fundacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BairroId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Historia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClubeId })
        </td>
    </tr>
}

</table>
