@model IEnumerable<ProjetoSonic.MVC.ViewModels.EventoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEvento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventoId })           
            @Html.ActionLink("Delete", "Delete", new { id=item.EventoId })
        </td>
    </tr>
}

</table>
