@model TcePortalGestor.Web.ViewModel.Login.ChangePasswordViewModel

@Scripts.Render("~/bundles/materialize")

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnConfirm").on('click', function (e) {

            e.preventDefault();
            var fd = $('#form0').serialize();

            AjaxRequest("/Login/ChangePassword", "POST", fd, "");

        });

    });

</script>

<div id="container">
    @using (Ajax.BeginForm(null, null, null, null, new { @class = "login-form" }))
    {

        <div class="row">
            <div class="input-field col s12 center">
                <h4>Mudança de Senha</h4>
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-social-person-outline prefix"></i>
                @Html.TextBoxFor(model => model.Login, new { @class = "form-control", @readonly = "readonly" })
                @Html.LabelFor(model => model.Login)
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
                @Html.LabelFor(model => model.OldPassword)
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                @Html.LabelFor(model => model.NewPassword)
            </div>
        </div>

        <div class="row margin">
            <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                @Html.PasswordFor(model => model.NewConfirmPassword, new { @class = "form-control" })
                @Html.LabelFor(model => model.NewConfirmPassword)
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <button id="btnConfirm" class="btn waves-effect waves-light col s12" type="submit">Confirmar</button>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s4">
                <p class="margin medium-small"></p>
            </div>
        </div>
    }
</div>
