@model TcePortalGestor.Web.ViewModel.Login.EsqueceuSenhaViewModel

@{
    ViewBag.Title = "Recuperação de Senha";
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/materialize")
@Styles.Render("~/Content/materialize")
@Styles.Render("~/Content/pagecenter")

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnConfirm").on('click', function (e) {
            e.preventDefault();
            var fd = $('#form0').serialize();

            AjaxRequest("/Login/ForgotPassword", "POST", fd, "");
        });

    });
</script>


<body class="teal darken-4">

    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">

            <div id="container">
                @using (Ajax.BeginForm(null, null, null, null, new { @class = "login-form" }))
                {
                    <div class="row">
                        <div class="input-field col s12 center">
                            <h4>Recuperação de Senha</h4>
                            <p class="center">Será enviada uma nova senha para o seu email</p>
                        </div>
                    </div>

                    <div class="row margin">
                        <div class="input-field col s12">
                            <i class="mdi-social-person-outline prefix"></i>
                            @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                            @Html.LabelFor(model => model.Login)
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <button id="btnConfirm" class="btn waves-effect waves-light col s12" type="submit">RENOVAR SENHA</button>
                        </div>
                        <div class="input-field col s12">
                            <p class="margin">
                                @Html.ActionLink("Login", "Index")
                            </p>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</body>