@model IEnumerable<ProjetoSonic.MVC.ViewModels.CampoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Bairro")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCampo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BairroId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampoId })
        </td>
    </tr>
}

</table>
